*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #9d4343;
    --secondary-color: #565656;
}

html {
    font-family: sans-serif;
}

button {
    border: none;
    cursor: pointer;
}

.previous-prize {
    position: fixed;
    top: 10px;
    left: 10px;
}

.container {
    background-color: #606060;
    height: 100vh;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.wheel-pointer {
    background-color: #000000;
    width: 30px;
    height: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -30%);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}

.wheel-pointer::before {
    content: "";
    background-color: var(--primary-color);
    width: 22px;
    height: 14px;
    position: absolute;
    top: 2.2px;
    left: 4px;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}

.wheel-center {
    position: absolute;
    border-radius: 50%;
    border: 5px solid;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    aspect-ratio: 1;
    background-color: var(--primary-color);
}

.wheel-options {
    width: 300px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: red;
}
